:root {
  --slide-space: 20px;
  --slider-height: 300px;
  --slide-max-width-screen: 600px;
  --slide-max-width-mobile: 500px;
}

.slider,
.slider-placeholder {
  width: 100%;
  height: calc((100dvw - var(--slide-space)) / 1.777777777777778);
  max-width: var(--slide-max-width-screen);
  @media (width <= 1000px) {
    max-width: var(--slide-max-width-mobile);
  }

  &.hidden {
    display: none;
  }

  &__header {
    text-align: center;
  }

  &__slides {
    display: flex;
    justify-content: flex-start;
    height: var(--slider-height);
    border: 2px solid grey;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: var(--slide-space);
    max-height: var(--slider-height);

    //remove scrollbar
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__figure {
      &__image {
        object-fit: contain;
        width: auto;
        height: 100%;
        transition: all 0.5s ease-in-out;
        filter: grayscale(100) brightness(0.2) contrast(1.2);

        &--focused {
          filter: grayscale(0) brightness(1) contrast(1);
        }

        &:hover {
          cursor: pointer;
          &--focused {
            filter: grayscale(0) brightness(1) contrast(1);
          }
        }

        &:active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
      }

      &__figcaption {
        text-align: center;
        font-size: 1.2rem;
        transform: translateY(0);
        transition: all 0.5s ease-in-out;

        &--focused {
          transform: translateY(-100%);
          padding-block: 0.8rem;
          text-align: center;
          background: rgba(0, 0, 0, 0.7);
          backdrop-filter: blur(3px);

          @media (width <= 500px) {
            font-size: 0.7rem;
            padding-block: 0.4rem;
          }
        }
      }
    }
  }

  &__controls {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .slider__prev,
    .slider__next {
      padding-inline: 1rem;
    }

    &__dots {
      font-size: 2rem;
      display: flex;
      flex-flow: row nowrap;
      gap: 2px;
      width: auto;

      &__dot {
        color: #000;
        &:hover {
          cursor: pointer;
        }

        &--focused {
          color: white;
        }
      }
    }
  }

  &-placeholder {
    width: 100%;
    max-width: var(--slide-max-width-screen);

    @media (width <= 1000px) {
      max-width: var(--slide-max-width-mobile);
    }

    .slider__slides {
      height: calc((100dvw - var(--slide-space)) / 1.777777777777778);
    }
  }
}

.dod {
  &:hover {
    cursor: pointer;
  }

  &--active {
    color: red;
  }
}

.slider-placeholder-dot {
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.image_placeholder {
  flex: 1 1 auto;
  aspect-ratio: 16 / 9;
}
